<div id="map"></div>
<div id="popup" class="ol-popup">
    <div id="popup-content"></div>
</div>
<!-- <div>
    <button onclick="document.getElementById('layerMenu').classList.toggle('show')">Capas</button>
    <div id="layerMenu" class="dropdown-content">
      <label><input type="checkbox" id="chkPdo" checked (change)="toggleLayer('pdo')"> Límites del Partido</label>
      <label><input type="checkbox" id="chkCabeceras" checked (change)="toggleLayer('cabeceras')"> Cabeceras</label>
      <label><input type="checkbox" id="chkFFCC" checked (change)="toggleLayer('ffcc')"> Líneas de Ferrocarril</label>
      <label><input type="checkbox" id="chkViasCirculacion" checked (change)="toggleLayer('viasCirculacion')"> Vías de Circulación</label>
      <label><input type="checkbox" id="chkWmsMz" checked (change)="toggleLayer('wmsMz')"> Capa WMS Mz</label>
      <label><input type="checkbox" id="chkWmsPl" checked (change)="toggleLayer('wmsPl')"> Capa WMS Pl</label>
    </div>
  </div> -->